@import "tailwindcss";

@font-face {
  font-family: "MyFont";
  src: url("/fonts/ChampionGothic-Lightweight.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

.Montserratfont {
  font-family: "Montserrat", sans-serif;
}

.ChampionGothicfont {
  font-family: "MyFont", sans-serif;
}