@import "tailwindcss";

@font-face {
  font-family: "MyFont";
  src: url("/fonts/ChampionGothic-Lightweight.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

.Montserratfont {
  font-family: "Montserrat", sans-serif;
}

.ChampionGothicfont {
  font-family: "MyFont", sans-serif;
}

.bgGradient {
  background-image: linear-gradient(
    to right bottom,
    #560099,
    #6100ab,
    #6b00be,
    #7600d1,
    #8100e5,
    #8100e5,
    #8100e5,
    #8100e5,
    #7600d1,
    #6b00be,
    #6100ab,
    #560099
  );
}

@theme inline {
  --shadow-input:
    0px 2px 3px -1px rgba(0, 0, 0, 0.1),
    0px 1px 0px 0px rgba(25, 28, 33, 0.02),
    0px 0px 0px 1px rgba(25, 28, 33, 0.08);
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-6px); }
  100% { transform: translateY(0px); }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

